body {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}

body, p, ul, li, ol { margin: 0; padding: 0;}

input[type="text"], input[type="email"], textarea {
	width: 100%;
	max-width: 350px;
	padding: 5px;
	border:1px solid #ddd;
	/*border-radius: 4px;
	box-shadow: none;*/
	margin:0 0 15px;
	/*vertical-align: top;*/
	color: red;
}
/*input::-webkit-input-placeholder {
color: red ;
}*/
.container {
	padding-left: 350px;
	padding-right: 350px;
}

.nav {
	height: 80px;
	background-color: #4f6fe2;

}
/*.nav .links a{
	position: absolute;
}*/
.nav .logo {
	float: left;
}
.nav .logo img {
	height: 70px;
	margin-right: 10px;
	margin-top: 0.8rem;
}
.nav .rapid{
	padding-top: 1.0rem;
	float: left;
}
.nav .links{
	float: right;
	text-decoration: none;
	padding-top: 15px;
	font-size: 30px;
}
/*.nav .links button{
	height: 50px;
}*/

.nav .links ul, li {
	list-style: none;
}

.nav .links > ul {
	float: left;
}

.nav .links > ul > li {
	float: left;
}

.nav .links li a {
	font-family: arial, helvetica, sans-serif;
	font-size: 18px;
	color: #fff;
	padding: 15px;
	text-decoration: none;
}



.nav .links li > a {
	display: block;
}

.nav .links ul li {
	position: relative;
}

.nav .links ul ul { 
	background-color: blue;
	display: none;
	position: absolute;
	width: 200px;
 }

.nav .links > ul > li:hover {
	background-color: blue;
}
 .nav .links > ul > li:hover ul {
 	display: block;
 }

 .nav .links ul ul li a:hover {
 	background-color: grey;
 	color: #000;
 }


.afternav{
	text-align: center;
	padding-bottom: 50px;
	padding-top: 50px;
	/*background-color: #c6c8ce;*/
}
.thirddiv{
	
	background-color: #c6c8ce;
	padding-top: 50px;
	padding-bottom: 50px;
}
.thirddiv .thirdOne{
	display: inline-block;
	/*float: left;*/
	width: 25%;
	text-align: center;
	margin-top: 0;
	padding-top: 0;
}/*
.thirddiv .thirdOne h4{
text-align: center;
}

.thirddiv .thirdOne p{
text-align: center;
}*/
.thirddiv .thirdTwo{
	display: inline-block;
	/*float: left;*/
	margin-left: 100px;
	margin-right: 100px;
	width: 25%;
	text-align: center;
	margin-top: 0;
	padding-top: 0;

}
.thirddiv .thirdThree{
	display: inline-block;
	text-align: center;
	width: 25%;
	margin-top: 0;
	padding-top: 0;
}

input[type="submit"]:hover
{
color: red;
background-color: white;
}

input[type="submit"]
{
background: transparent; 
}
input[type="text"], input[type="email"],textarea
{
    background: transparent;
    /*border: none;*/
/*color: white;*/
}
input[type="text"]{
	margin-top:	25px;
	height: 40px; 
		border:1px solid black;
	
}

input[type="email"]{
	height: 40px; 
		border:1px solid black;

}

textarea{
	
		border:1px solid black;

}
::-webkit-input-placeholder { /* Chrome */
  color: #d4d4d8;
}

/*::-webkit-input-placeholder { 
  color: red;
  transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
  opacity: 0.5;
}*/
/*-------------------------------------------------------------------------------------------------------------*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 
.cf {
    *zoom: 1;
}

*, *:after, *:before {
    box-sizing: border-box;
} 

img {
	max-width: 100%;
}

div.images {
	width: 57%;
	margin: 0 auto;
	/*background-color: #cccdce;*/

}

.images > div {
	float: left;
	width: 33.33%;
	height: 300px;
	padding: 10px;
}

.images > div img {
	width: 100%;
	height: 250px;
}



.hero{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	/*background-color: red;*/
}
.strng{
	font-size: 25px;
}
.backimage{
	background-color: white;

}
.beforefooter{

	background-color: transparent;
	text-align: center;
	background: url(./Images/background.jpg) no-repeat center; 
	height: 500px;
	color: #d4d4d8;
	/*font-size: 16px;*/
}
.backimage .beforefooter .formm .f1{
	width: 100%;
	}
.backimage .beforefooter .formm .forsubmitup{
	display: inline-block;
	text-align: center;
	vertical-align: middle;

}
textarea {
	height: 180px;
}

input[type="submit"] { 
	appearance:none;
	-webkit-appearance:none;
	padding: 5px 10px;
	background:transparent;
	border-radius:4px;
	border:1px solid black;
	font-size: 16px;
	font-weight: 700;
	color: #d4d4d8;
 }
.forsubmitdown{
	display: inline-block;
	vertical-align: middle;
}

.Footer{
	background-color: #efefef;
	float:left;
	width: 100%;
	height: 100px;
}
.Footer .ftone{
	float: left;
	margin-top: 0;
	height: 50px;
}
.Footer .fttwo{
	padding-top: 30px;
	float: right;
}
.Footer img{
	height: 30px;
	width: 30px;
}

