extends base.pug

block content
    form(action="/items" method="POST")
        input(type="text", name="itemName")
        input(type="number", name="itemPrice")
        input(type="submit", value="AddToCart")