extends base.pug

block content
    h1 See all the instructors!
    a(href="/items/new") make a new one!
    ul
        each user in users
            li #{user.itemName} &nbsp;
            #{user.itemPrice} &nbsp;
                a(href=`/items/${user.id}/edit`) Edit