extends base.pug

block content
    h1 See all the users!
    a(href="/users/new") make a new one!
    ul
        each user in users
            li #{user.name} &nbsp;
                a(href=`/users/${user.id}/edit`) Edit